﻿@section scripts {
    @Scripts.Render("~/bundles/login")

}
<div class="page-header">
    <h2>Inicio Sesion</h2>
</div>
<div class="panel-body">
    <form data-bind="submit: inicio">
        <div class="form-group">
            <label for="inputNombre">Nombre</label>
            <input type="text"
                   class="form-control"
                   name="inputNombre"
                   id="inputNombre"
                   data-bind="value: Nombre" />
            <label for="inputPassword">Password</label>
            <input type="text"
                   class="form-control"
                   name="inputPassword"
                   id="inputPassword"
                   data-bind="value: Password" />
            <button type="submit" class="btn btn-primary">Iniciar</button>
         </div>
     </form>
</div>