﻿@section scripts {
    @Scripts.Render("~/bundles/miaplicacion")

}
<div class="page-header">
    <h2>Usuarios</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Lista Usuario</h4>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Password</th>
                            <th>Tipo de Usuario</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: usuarios">
                        <tr>
                            <td data-bind="text: UsuarioId"></td>
                            <td data-bind="text: Nombre"></td>
                            <td data-bind="text: Password"></td>
                            <td data-bind="text: TipoUsuario.Nombre"></td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-warning"
                                            data-toggle="modal"
                                            data-target="#myModalUsuarioEditar"
                                            data-bind="click: $root.cargar">
                                        Editar
                                    </button>
                                    <button class="btn btn-danger"
                                            data-bind="click: $root.eliminar">
                                        Eliminar
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalUsuarioNuevo">Agregar</button>

<div class="modal fade" id="myModalUsuarioNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: agregar" id="form-usuario">
                <div class="modal-header">
                    <button type="button" class="close" data-dissmiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Agregar</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputNombre">Nombre</label>
                        <input type="text" class="form-control" name="inputNombre" id="inputNombre"
                               data-bind="value: usuarioNuevo.Nombre" />
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" name="inputPassword" id="inputPassword"
                               data-bind="value: usuarioNuevo.Password" />
                    </div>
                    <div class="form-group">
                        <label for="selectTipo">Tipo de Usuario</label>
                        <select class="form-control" data-bind="options: tipoUsuarios, optionsText: 'Nombre', value: usuarioNuevo.TipoUsuario"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalUsuarioEditar" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" data-bind="if: usuarioCargado">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: editar">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Editar Usuario</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputId">Id</label>
                        <input type="text" class="form-control" name="inputId" id="inputId"
                               data-bind="value: usuarioCargado().UsuarioId" />
                    </div>
                    <div class="form-group">
                        <label for="inputNombre">Nombre</label>
                        <input type="text" class="form-control" name="inputNombre" id="inputNombre"
                               data-bind="value: usuarioCargado().Nombre" />
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" name="inputPassword" id="inputPassword"
                               data-bind="value: usuarioCargado().Password" />
                    </div>
                    <div class="form-group">
                        <label for="selectTipo">Tipo de Usuario</label>
                        <select class="form-control" data-bind="options: tipoUsuarios, optionsText: 'Nombre', value: usuarioCargado().TipoUsuario"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>

            </form>
        </div>
    </div>
</div>