﻿@section scripts {
    @Scripts.Render("~/bundles/miaplicacion4")

}
<div class="page-header">
    <h2>Eventos</h2>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Lista Usuario</h4>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Imagen</th>
                            <th>Fecha</th>
                            <th>Lugar del Evento</th>
                            <th>Descripcion</th>
                            <th>Tipo</th>
                            <th>Creado por</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: evento">
                        <tr>
                            <td data-bind="text: EventoId"></td>
                            <td data-bind="text: Nombre"></td>
                            <td data-bind="text: Precio"></td>
                            <td data-bind="text: Img"></td>
                            <td data-bind="text: Fecha"></td>
                            <td data-bind="text: LugarEvento"></td>
                            <td data-bind="text: Descripcion"></td>
                            <td data-bind="text: Tipo.Nombre"></td>
                            <td data-bind="text: Usuario.Nombre"></td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-warning"
                                            data-toggle="modal"
                                            data-target="#myModalEventoEditar"
                                            data-bind="click: $root.cargar">
                                        Editar
                                    </button>
                                    <button class="btn btn-danger"
                                            data-bind="click: $root.eliminar">
                                        Eliminar
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>



    <!---------------------------------------------------->
    <div class="col-md-12">
        <form data-bind="submit: calendario">
            <div id="calendario"></div>
            <button type="submit" class="btn btn-warning">Calendario</button>
        </form>
    </div>
    <div class="col-md-12">
        <form data-bind="submit: calendarioPorUsuario">
            <div id="calendarioU"></div>
            <button type="submit" class="btn btn-success">Mi Calendario</button>
        </form>
    </div>

    <div class="col-lg-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalEventoNuevo">Agregar</button>
    </div>
    <div class="modal fade" id="myModalEventoNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form data-bind="submit: agregar" id="form-tipo">
                    <div class="modal-header">
                        <button type="button" class="close" data-dissmiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Agregar</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputNombre">Nombre</label>
                            <input type="text" class="form-control" name="inputNombre" id="inputNombre"
                                   data-bind="value: eventoNuevo.Nombre" />
                        </div>
                        <div class="form-group">
                            <label for="inputPrecio">Precio</label>
                            <input type="text" class="form-control" name="inputPrecio" id="inputPrecio"
                                   data-bind="value: eventoNuevo.Precio" />
                        </div>
                        <div class="form-group">
                            <label for="inputImagen">Imagen</label>
                            <input type="text" class="form-control" name="inputImagen" id="inputImagen"
                                   data-bind="value: eventoNuevo.Img" />
                        </div>
                        <div class="form-group">
                            <label for="inputFecha">Fecha</label>
                            <label for="inputFecha">Refencia: 2017-05-15T16:02:16.9</label>
                            <input type="text" class="form-control" name="inputFecha" id="inputFecha"
                                   data-bind="value: eventoNuevo.Fecha" />
                        </div>
                        <div class="form-group">
                            <label for="inputEvent">Lugar del evento</label>

                            <input type="text" class="form-control" name="inputEvent" id="inputEvent"
                                   data-bind="value: eventoNuevo.LugarEvento" />
                        </div>
                        <div class="form-group">
                            <label for="inputDescripcion">Descripcion</label>

                            <input type="text" class="form-control" name="inputDescripcion" id="inputDescripcion"
                                   data-bind="value: eventoNuevo.Descripcion" />
                        </div>
                        <div class="form-group">
                            <label for="selectTipo">Tipo de evento</label>
                            <select class="form-control" data-bind="options: tipo, optionsText: 'Nombre', value: eventoNuevo.Tipo"></select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalEventoEditar" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" data-bind="if: eventoCargado">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form data-bind="submit: editar">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Editar evento</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputId">Id</label>
                            <input type="text" class="form-control" name="inputId" id="inputId"
                                   data-bind="value: eventoCargado().EventoId" />
                        </div>
                        <div class="form-group">
                            <label for="inputNombre">Nombre</label>
                            <input type="text" class="form-control" name="inputNombre" id="inputNombre"
                                   data-bind="value: eventoCargado().Nombre" />
                        </div>
                        <div class="form-group">
                            <label for="inputPrecio">Precio</label>
                            <input type="text" class="form-control" name="inputPrecio" id="inputPrecio"
                                   data-bind="value: eventoCargado().Precio" />
                        </div>
                        <div class="form-group">
                            <label for="inputImagen">Imagen</label>
                            <input type="text" class="form-control" name="inputImagen" id="inputImagen"
                                   data-bind="value: eventoCargado().Img" />
                        </div>
                        <div class="form-group">
                            <label for="inputFecha">Fecha</label>
                            <label for="inputFecha">Refencia: 2017-05-15T16:02:16.9</label>
                            <input type="text" class="form-control" name="inputFecha" id="inputFecha"
                                   data-bind="value: eventoCargado().Fecha" />
                        </div>
                        <div class="form-group">
                            <label for="inputEvent">Lugar del evento</label>

                            <input type="text" class="form-control" name="inputEvent" id="inputEvent"
                                   data-bind="value: eventoCargado().LugarEvento" />
                        </div>
                        <div class="form-group">
                            <label for="inputDescripcion">Descripcion</label>

                            <input type="text" class="form-control" name="inputDescripcion" id="inputDescripcion"
                                   data-bind="value: eventoCargado().Descripcion" />
                        </div>
                        <div class="form-group">
                            <label for="selectTipo">Tipo de evento</label>
                            <select class="form-control" data-bind="options: tipo, optionsText: 'Nombre', value: eventoCargado().Tipo"></select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
