﻿@section scripts {
    @Scripts.Render("~/bundles/miaplicacion6")

}

<div class="page-header">
    <h2>Tickets</h2>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Lista de Tickets</h4>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre del Evento</th>
                            <th>Tipo Ticket</th>
                            <th>Lugar de distribucion</th>
                            <th>Promociones</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: ticket">
                        <tr>
                            <td data-bind="text: TicketId"></td>
                            <td data-bind="text: Evento.Nombre"></td>
                            <td data-bind="text: TipoTicket.Nombre"></td>
                            <td data-bind="text: LugarDistribucion.Nombre"></td>
                            <td data-bind="text: Promociones.Nombre"></td>
                            <td data-bind="text: TotalTickets"></td>
                            <td data-bind="text: Precio"></td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-warning"
                                            data-toggle="modal"
                                            data-target="#myModalTicketEditar"
                                            data-bind="click: $root.cargar">
                                        Editar
                                    </button>
                                    <button class="btn btn-danger"
                                            data-bind="click: $root.eliminar">
                                        Eliminar
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div>
    <button class="btn btn-success" , data-bind="click: grafica">Ver Gráfica</button>
</div>
<canvas id="charts" height="400" width="300"></canvas>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalTicketNuevo">
    Agregar
</button>

<div class="modal fade" id="myModalTicketNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: agregar" id="form-ticket">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Agregar</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="selectCategoria">Evento</label>
                        <select class="form-control" data-bind="options: evento, optionsText: 'Nombre', value: ticketNuevo.Evento"></select>
                    </div>
                    <div class="form-group">
                        <label for="selectCategoria">Tipo ticket</label>
                        <select class="form-control" data-bind="options: tipoTicket, optionsText: 'Nombre', value: ticketNuevo.TipoTicket"></select>
                    </div>
                    <div class="form-group">
                        <label for="selectCategoria">Lugar de Distribucion</label>
                        <select class="form-control" data-bind="options: lugarDistribucion, optionsText: 'Nombre', value: ticketNuevo.LugarDistribucion"></select>
                    </div>
                    <div class="form-group">
                        <label for="selectCategoria">Promociones</label>
                        <select class="form-control" data-bind="options: promocion, optionsText: 'Nombre', value: ticketNuevo.Promocion"></select>
                    </div>
                    <div class="form-group">
                        <label for="inputCorreo">Cantidad</label>
                        <input type="text" class="form-control" name="inputCorreo" id="inputCorreo"
                               data-bind="value: ticketNuevo.TotalTickets" />
                    </div>
                    <div class="form-group">
                        <label for="inputCorreo">Precio</label>
                        <input type="text" class="form-control" name="inputCorreo" id="inputCorreo"
                               data-bind="value: ticketNuevo.Precio" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalTicketEditar" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" data-bind="if: ticketCargado">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: editar">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Editar Contacto</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputId">Id</label>
                        <input type="text" class="form-control" name="inputId" id="inputId"
                               data-bind="value: ticketCargado().TicketId" />
                    </div>
                    <div class="form-group">
                        <label for="selectCategoria">Evento</label>
                        <select class="form-control" data-bind="options: evento, optionsText: 'Nombre', value: ticketCargado().Evento"></select>
                    </div>
                    <div class="form-group">
                        <label for="selectCategoria">Tipo ticket</label>
                        <select class="form-control" data-bind="options: tipoTicket, optionsText: 'Nombre', value: ticketCargado().TipoTicket"></select>
                    </div>
                    <div class="form-group">
                        <label for="selectCategoria">Lugar de Distribucion</label>
                        <select class="form-control" data-bind="options: lugarDistribucion, optionsText: 'Nombre', value: ticketCargado().LugarDistribucion"></select>
                    </div>
                    <div class="form-group">
                        <label for="selectCategoria">Promociones</label>
                        <select class="form-control" data-bind="options: promocion, optionsText: 'Nombre', value: ticketCargado().Promocion"></select>
                    </div>
                    <div class="form-group">
                        <label for="inputCorreo">Cantidad</label>
                        <input type="text" class="form-control" name="inputCorreo" id="inputCorreo"
                               data-bind="value: ticketCargado().TotalTickets" />
                    </div>
                    <div class="form-group">
                        <label for="inputCorreo">Precio</label>
                        <input type="text" class="form-control" name="inputCorreo" id="inputCorreo"
                               data-bind="value: ticketCargado().Precio" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>

