﻿@section scripts {
    @Scripts.Render("~/bundles/miaplicacion3")

}
<div class="page-header">
    <h2>Staff</h2>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Lista Usuario</h4>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Sueldo</th>
                            <th>Direccion</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: staff">
                        <tr>
                            <td data-bind="text: StaffId"></td>
                            <td data-bind="text: Nombre"></td>
                            <td data-bind="text: Sueldo"></td>
                            <td data-bind="text: Direccion"></td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-warning"
                                            data-toggle="modal"
                                            data-target="#myModalStaffEditar"
                                            data-bind="click: $root.cargar">
                                        Editar
                                    </button>
                                    <button class="btn btn-danger"
                                            data-bind="click: $root.eliminar">
                                        Eliminar
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalStaffNuevo">Agregar</button>

<div class="modal fade" id="myModalStaffNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: agregar" id="form-staff">
                <div class="modal-header">
                    <button type="button" class="close" data-dissmiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Agregar</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputNombre">Nombre</label>
                        <input type="text" class="form-control" name="inputNombre" id="inputNombre"
                               data-bind="value: staffNuevo.Nombre" />
                    </div>
                    <div class="form-group">
                        <label for="inputSueldo">Sueldo</label>
                        <input type="text" class="form-control" name="inputSueldo" id="inputSueldo"
                               data-bind="value: staffNuevo.Sueldo" />
                    </div>
                    <div class="form-group">
                        <label for="inputDireccion">Direccion</label>
                        <input type="text" class="form-control" name="inputDireccion" id="inputDireccion"
                               data-bind="value: staffNuevo.Direccion" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalStaffEditar" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" data-bind="if: staffCargado">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: editar">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Editar Staff</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputId">Id</label>
                        <input type="text" class="form-control" name="inputId" id="inputId"
                               data-bind="value: staffCargado().StaffId" />
                    </div>
                    <div class="form-group">
                        <label for="inputNombre">Nombre</label>
                        <input type="text" class="form-control" name="inputNombre" id="inputNombre"
                               data-bind="value: staffCargado().Nombre" />
                    </div>
                    <div class="form-group">
                        <label for="inputSueldo">Sueldo</label>
                        <input type="text" class="form-control" name="inputSueldo" id="inputSueldo"
                               data-bind="value: staffCargado().Sueldo" />
                    </div>
                    <div class="form-group">
                        <label for="inputDireccion">Direccion</label>
                        <input type="text" class="form-control" name="inputDireccion" id="inputDireccion"
                               data-bind="value: staffCargado().Direccion" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>
