﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fullcalendarcss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TodoTicket", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Usuarios", "Index", "Usuarios", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Tipos", "Index", "Tipos", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Staffs", "Index", "Staffs", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Eventos", "Index", "Eventos", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("TiposTickets", "Index", "TiposTickets", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Tickets", "Index", "Tickets", new { area = "" }, null)</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fullcalendarjs")
    @Scripts.Render("~/bundles/chart")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/cookieJ")
    @RenderSection("scripts", required: false)
</body>
</html>
